@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }

        nav {
            width: 100%;
            height: 8vh;
            background-color: aliceblue;

            li {
                display: inline-block;
            }

            .logo {
                /* background-color: red; */
                margin-left: 40px;
                width: 50%;
                float: left;

                h1 {
                    margin: 0;
                    font-size: 35px;
                }
            }

            .nav-items {
                /* background-color: red; */
                width: 20%;
                height: 100%;
                text-align: right;
                font-size: 25px;
                float: right;
                margin-right: 2%;

                li {
                    padding: 5px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    margin-top: 4px;
                    margin-right: 20px;

                    span {
                        font-size: medium;

                    }
                }

                li:hover {
                    cursor: pointer;
                    background-color: black;
                }
            }
        }

        li {
            list-style: none;
        }

        .row {
            float: left;
        }

        .sidebar {
            width: 15%;
            height: 92vh;
            /* background-color: rgb(55, 45, 45); */
            /* background-color: aqua; */
            position: fixed;
            top: 8vh;

            /* display: none; */
            .user-profile {
                /* background-color: antiquewhite; */
                width: 100%;
                /* height: 200px; */
                /* padding-bottom: 15px; */
                text-align: center;


                img {
                    width: 150px;
                    margin-top: 15px;
                    border-radius: 50%;
                }

                h1 {
                    margin: 0;
                }
            }

            .sidebar-list {
                /* background-color: red; */
                width: 100%;
                margin-top: 20px;
                /* margin-left: 10%; */


                li {
                    list-style: none;
                    width: 80%;
                    padding: 15px;
                    padding-left: 30px;
                    margin-top: 10px;
                    transition: 0.5s ease-in-out;
                    /* background-color: black; */
                }

                li:hover {
                    transition: 0.5s ease-in-out;
                    color: aliceblue;
                    background-color: black;
                    cursor: pointer;
                }
            }
        }

        .dashboard {
            width: 85%;
            height: 90.6vh;
            /* position: fixed; */
            /* background-color: aquamarine; */
            overflow: scroll;
            scrollbar-width: none;
            margin-left: 15%;
            padding-top: 10px;


            display: none;

            .top-dish {
                width: 90%;
                height: 50vh;
                margin-left: 5%;
                padding: 15px;
                margin-top: 25px;
                /* box-shadow: 0 0 10px rgb(220, 200, 200); */
                border-radius: 5px;
                margin-bottom: 50px;

                .top-dish-cards {
                    display: grid;
                    grid-template-columns: 49% 49%;
                    grid-gap: 15px;
                    /* background-color: red; */
                    padding: 20px;

                    div {
                        padding: 5px;
                        height: 300px;
                        /* margin-left: 15%; */
                        box-shadow: 0 0 10px rgb(220, 200, 200);
                        /* background-color: red; */

                        img {
                            width: 43%;
                            height: 290px;
                            /* border: 1px solid; */
                            float: left;
                            padding-right: 15px;
                        }

                        h1 {
                            margin: 0;
                            /* margin-bottom: 5px; */
                        }

                        h3,
                        h4,
                        h5 {
                            margin: 0;
                            margin-bottom: 5px;
                        }

                        dl {
                            margin-top: -6px;
                            height: 90px;
                            overflow: scroll;
                            scrollbar-width: thin;
                            font-size: small;
                        }

                        button {
                            padding: 6px 18px;
                            font-size: large;
                            border: 2px dashed blueviolet;
                            background: transparent;
                            transition: 0.3s ease-in-out;
                            font-weight: bold;
                            margin-left: 10px;
                        }

                        button:hover {
                            cursor: pointer;
                            background-color: black;
                            color: gold;
                            border: none;
                            transition: 0.3s ease-in-out;
                            scale: 1.1;
                        }
                    }
                }




            }

        }

        .dashboard .dashboard-content {
            width: 93.5%;
            height: 40vh;
            margin-left: 2%;
            padding: 15px;
            margin-top: 25px;
            /* display: none; */
            /* box-shadow: 0 0 10px rgb(220, 200, 200); */
            border-radius: 5px;
            /* background-color: red; */

            h1 {
                font-size: 45px;
                width: 99%;
                margin-top: 0;
                padding-left: 30px;
                color: white;
                background-color: red;
            }



        }

        .dashboard .dashboard-content .dashboard-cards {
            /* background-color: red; */
            /* height: 50px; */
            padding: 0 50px;
            /* gap: 10px; */
            /* display: flex; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            /* max-width: 90%; */

        }

        .dashboard .dashboard-content .dashboard-cards .card {
            /* background-color: blue; */
            padding: 10px;
            width: 90%;
            height: 120px;
            margin: 15px;
            box-shadow: 0 0 5px rgb(229, 206, 206);




            .card-img {
                width: 30%;
                height: 100%;
                /* background-color: red; */
            }

            .card-content {
                /* background-color: blue; */
                width: 70%;
                height: 100%;
            }
        }



        .orders {
            width: 85%;
            height: 92vh;
            position: fixed;
            /* background-color: aquamarine; */
            top: 8vh;
            left: 15%;

            display: none;
        }

        .orders .orders-content {
            width: 90%;
            height: 80vh;
            margin-left: 5%;
            padding: 15px;
            margin-top: 25px;
            box-shadow: 0 0 10px rgb(220, 200, 200);
            border-radius: 5px;
            /* background-color: red; */

            h1 {
                height: 35px;
                border-radius: 5px 5px 0 0;
                background-color: blue;
                padding: 5px;
            }
        }

        .orders .orders-content .orders-table {
            width: 99.8%;
            height: 85%;
            margin-top: -20px;
            /* border: 1px solid rgb(199, 178, 178); */
            border-top: none;
            overflow: scroll;
            scrollbar-width: none;
            /* background-color: red; */

            table {
                width: 100%;
                margin-top: 10px;
                border-left: none;
            }

            table,
            th,
            td {
                border: 1px solid rgb(199, 178, 178);
                border-collapse: collapse;
            }

            th,
            td {
                padding: 8px;
            }
        }

        .active {
            background-color: lightslategray;
            font-size: large;
            color: aliceblue;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .displayBlock {
            display: block;
        }


        .restaurant {
            width: 83.2%;
            height: 87.8vh;
            position: fixed;
            /* background-color: black; */
            top: 8vh;
            left: 15%;
            padding: 15px;
            overflow: scroll;
            scrollbar-width: none;
            /* border: 1px solid; */

            display: none;

            h1 {
                font-size: 45px;
                width: 97%;
                margin-top: 0;
                padding-left: 30px;
                color: white;
                background-color: red;
            }
        }

        .restaurant .resto-cards {
            width: 95%;
            display: grid;
            grid-template-columns: repeat(3, minmax(350px, 1fr));
            gap: 25px;
            padding-left: 30px;
        }

        .restaurant .resto-card {
            height: 450px;
            margin-bottom: 10px;
            margin-top: 10px;
            /* background-color: red; */
            box-shadow: 0 0 10px rgb(215, 187, 187);


            img {
                width: 100%;
                height: 50%;
            }

            .resto-content {
                width: 94%;
                height: 45.3%;
                /* line-height: 10px; */
                /* background-color: red; */

                position: relative;
                padding: 10px;
                padding-top: 0;

                h2 {
                    margin: 0;
                }

                /*p{
                    line-height: 12px;
                } */

                table {
                    /* border: 1px solid; */
                    width: 100%;
                    text-align: left;
                }

                .btn {
                    /* padding: 7px 20px; */
                    /* background-color: antiquewhite; */
                    position: absolute;
                    bottom: 5%;
                    padding-left: 10px;

                    button {
                        padding: 7px 18px;
                        border: 2px dashed blue;
                        transition: 0.5s ease-in-out;
                        background: transparent;
                        font-size: medium;
                    }

                    button:hover {
                        cursor: pointer;
                        background-color: black;
                        transition: 0.5s ease-in-out;
                        color: gold;
                        scale: 1.1;
                        border: none;
                    }
                }

                button:nth-child(2) {
                    /* padding: 8px; */
                    margin-left: 50px;
                }
            }

        }

        .menu {
            width: 83.2%;
            height: 87.8vh;
            position: fixed;
            /* background-color: black; */
            top: 8vh;
            left: 15%;
            padding: 15px;
            overflow: scroll;
            scrollbar-width: none;
            /* border: 1px solid; */

            display: none;

            h1 {
                font-size: 45px;
                width: 97%;
                margin-top: 0;
                padding-left: 30px;
                color: white;
                background-color: red;
            }
        }

        .menu .menu-cards {
            width: 95%;
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            gap: 25px;
            padding-left: 30px;
            /* background-color: aliceblue; */
        }

        .menu .menu-card {
            height: 300px;
            margin-bottom: 10px;
            margin-top: 10px;
            /* background-color: red; */
            box-shadow: 0 0 10px rgb(215, 187, 187);


            img {
                width: 35%;
                padding-right: 10px;
                height: 70%;
                float: left;
            }

            .menu-content {
                width: 94%;
                height: 45.3%;
                /* line-height: 10px; */
                /* background-color: red; */

                position: relative;
                padding: 10px;
                padding-top: 0;

                h2 {
                    margin: 0;
                    margin-top: 5px;

                }

                h3 {
                    margin: 0;
                    opacity: 0.5;
                    font-size: medium;
                }

                h4 {
                    margin: 0;
                    font-size: large;
                }

                h5 {
                    margin: 0;
                }

                dl {
                    margin-top: -3px;
                    height: 90px;
                    overflow: scroll;
                    scrollbar-width: thin;
                    font-size: small;
                }

                .rating {
                    /* background-color: red; */
                    width: 40%;
                    float: left;
                    font-size: larger;
                    margin-top: 10px;
                }

                .btn {
                    /* padding: 7px 20px; */
                    /* background-color: antiquewhite; */
                    /* position: absolute; */
                    bottom: 5%;
                    padding-left: 10px;
                    margin-top: 55px;

                    button {
                        padding: 7px 18px;
                        border: 2px dashed blue;
                        transition: 0.5s ease-in-out;
                        background: transparent;
                        font-size: medium;
                    }

                    button:hover {
                        cursor: pointer;
                        background-color: black;
                        transition: 0.5s ease-in-out;
                        color: gold;
                        scale: 1.1;
                        border: none;
                    }
                }

                button:nth-child(2) {
                    /* padding: 8px; */
                    margin-left: 50px;
                }

            }

        }

        .stars {
            display: flex;
            direction: row;
            cursor: pointer;
        }

        .star {
            font-size: 30px;
            color: #ccc;
            transition: color 0.3s;
        }

        .star:hover,
        .star.activestar {
            color: gold;
        }